---
import nodejs from '../assets/svg/nodejs.svg';
import weather from '../assets/svg/weather.svg';

const projects = [
  {
    title: 'Weather App',
    img: weather,
    description:
      'A simple weather and forecast app. Built with React, JavaScript, and Tailwind.',
    url: 'https://github.com/amiftachulh/weather-app',
  },
  {
    title: 'NoreTask (Backend)',
    img: nodejs,
    description:
      'Project I worked on during my internship. A simple microservices built with Node.js and TypeScript.',
    url: 'https://github.com/amiftachulh/nore-task-backend',
  },
];
---

<section>
  <h2>Selected Projects</h2>
  <div class="project-wrapper">
    {
      projects.map((project) => (
        <div class="project">
          <div class="image">
            <img src={project.img} width="60px" alt={project.title} />
          </div>
          <div class="info">
            <div class="title">{project.title}</div>
            <div class="description">{project.description}</div>
            <a href={project.url} target="_blank" rel="noopener noreferrer">
              View on GitHub
            </a>
          </div>
        </div>
      ))
    }
  </div>
</section>

<style>
  .project-wrapper {
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }

  .image {
    display: grid;
    place-items: center;
    background-color: var(--item-bg);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    aspect-ratio: 16 / 9;
  }

  .info {
    padding: 0.5rem;
  }

  .title {
    font-weight: bold;
    line-height: 1.5rem;
  }

  .description {
    line-height: 1.5rem;
  }

  a:hover {
    text-decoration: underline;
  }

  @media (width >= 768px) {
    .project-wrapper {
      flex-direction: row;
    }

    .project {
      max-width: 320px;
    }
  }
</style>
